@charset "utf-8" ;  

* {
    background-color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

.teste {
    border: 1px solid #9aedb5 ;
    text-align: center;
}

header li {
    display:  inline ;
    
}

h3 {
    color: blue
}

nav {
    border: 30px solid  #17181f;

}