@charset "UTF-8" ;

* {
    background-color: aqua;

}
header {
    padding: 5px;
    width: 75%; 
    margin: auto;
    background-color: moccasin ;

}

h1 {
    background-color: moccasin;
}

img {
    padding: 5px;
    height: 100px; 
    width: 100px; 
    float:  left;

}

